.feed-container{
    border-style: solid;
    margin-top: 30px;
    border-width: 2px;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
}
.blue{
    border-color: #1564a0;
    box-shadow: 0 0 20px 0px #1525a09e;
}
.yellow{
    border-color: #9DA015;
    box-shadow: 0 0 20px 0px #9da01557;
}

.feed-container::-webkit-scrollbar {
    display: none;
}

.feed-banner{
    width: 50%;
}

.loading{
    width: 100%;
}