.frame{
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}
.frame-blue{
    background-color: #9bc4e6;
}
.frame-yellow{
    background-color: #E4E69B;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
}

.like-caption-row{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.caption{
    font-weight: 600;
    font-size: 20px;
    line-height: 0;
}

.smalltext{
    font-size: 12px;
    font-weight: 200;
}
.description{
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.post-comment{
    background-color: #ABAD3C;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
    margin-top: 20px;
}
.comment-blue{
    background-color: #3c82adb0;
}
.comment-yellow{
    background-color: #ABAD3C;
}

.comment-profile{
    object-fit: cover;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.comment{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-left: 10px;
}

.timestamp{
    line-height: 0;
    font-size: 10px;
    color: #6D6F0C;
    margin-top: 20px;
}