.stats-area{
    background: black;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.statbox{
    border: rgb(211, 211, 211) solid 2px;
    padding: 0px 15px;
}

.statbox p {
    font-size: 18px;
}

.title{
    font-size: 35px !important;
}

.subtitle{
    color: grey;
}

.apiTimes{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-bottom: 25px;
}

.apiTimesContainer{
    display: flex;
    line-height: 0;
    align-items: center;
}

.apiTime{
    font-size: 50px !important;
}

.apiTimeLogo{
    width: 50px;
    padding-right: 15px;
}

.blink_blue {
    animation: blinkblue 1s linear;
}
@keyframes blinkblue {  
    10% {
        color:#3C7AE0;
        opacity: 50%;
    }
    30% {
        opacity: 10%;
    }70% {
        opacity: 70%;
    }
    100% {
        color:white;
        opacity: 100%;
    }
}
.blink_yellow {
    animation: blinkyellow 1s linear;
}
@keyframes blinkyellow {  
    10% {
        color:#E3BA1D;
        opacity: 50%;
    }
    30% {
        opacity: 10%;
    }70% {
        opacity: 70%;
    }
    100% {
        color:white;
        opacity: 100%;
    }
}

.jsonContainer{
    height: 100%;
    overflow: scroll;
}

.jsonContainer::-webkit-scrollbar {
    display: none;
}

.currentJson{
    word-break: break-all;
    white-space: normal;
}


.flex-row{
    display: flex;
    flex-direction: row;
}
.toggle-stat-container{
    padding-bottom: 15px;
    width: 100%;
}

.stat-switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
}

.stat-switch input { 
opacity: 0;
width: 0;
height: 0;
}

.stat-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3d3d;
    -webkit-transition: .4s;
    transition: .4s;
}

.stat-slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 6px;
    bottom: 5.5px;
    background-color: #6b6b6b;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .stat-slider {
    background-color: #d7d7d7;
}

input:checked + .stat-slider:before {
    -webkit-transform: translateX(70px);
    -ms-transform: translateX(70px);
    transform: translateX(70px);
    background-color: #3d3d3d;
}




:root {
    --dark-grey: #454545;
    --light-grey: #7f7f7f
}

pre {
    font-family: inherit;
    color: var(--dark-grey);
  }
  .string {
    color: var(--light-grey);
  }
  .number {
    color: var(--light-grey);
  }
  .boolean {
    color: var(--light-grey);
  }
  .null {
    color: var(--dark-grey);
  }
  .key {
    color: var(--dark-grey);
  }