@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono:600,400,200');

body{
  background-color: black;
  font-family: 'JetBrains Mono';
}

.App{
  height: 100vh;
  display: flex;
  width: 100vw;
}

.device-area{
  width: 400px;
  min-width: 400px;
  background-color: #222222;
  padding: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.platform-toggle-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C7AE0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  left: 6px;
  bottom: 5.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #E3BA1D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}